body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #eeeeee;
	font-family: Helvetica, Arial, sans-serif;
}

.modal {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, .5);
    display: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

    .modal ul {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        list-style: none;
    }

    .modal ul li {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        list-style: none;
    }

    .modal .modal-container {
        margin: 0px 0px 0px 0px;
        padding: 15px 15px 15px 15px;
        background: #fff;
    }

    .modal .modal-container .text-center {
        text-align: center;
    }

.modal-spinner {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 40px;
    min-width: 200px;
}

    .modal-spinner .spinner {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        float: left;
        position: relative;
    }

    .modal-spinner .loading-text {
        margin: 5px 0px 0px 10px;
        padding: 0px 0px 0px 0px;
        float: left;
        position: relative;
    }

input[type="submit"] {
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	display: block;
	position: relative;
	background: #2a5599;
	font-size: .8em;
	color: #fff;
	border: none;
}

	input[type="submit"]:hover {
	    background: #507abe;
	    cursor: pointer;
	}

#login {
	margin: 50px auto 0px auto;
	padding: 10px 10px 10px 10px;
	background: #fff;
	width: 400px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	-moz-border-radius: 5px;

	overflow: hidden;
}

	#login .title {
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
		width: 400px;
		text-align: center;
		font-size: 1.5em;
		color: #2a5599;
	}
	
.div-row {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	position: relative;
	float: left;
}

	.div-row .field {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		width: 120px;
		position: relative;
		float: left;
		color: #2a5599;
	}
	
	.div-row .value {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		min-width: 200px;
		position: relative;
		float: left;

	}
	
	.div-row .value-wide {
		margin: 0px 10px 0px 0px;
		padding: 0px 0px 0px 0px;
		min-width: 400px;
		position: relative;
		float: left;

	}
	
		.div-row .value input[type="text"] {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			border: 1px solid #cdcdcd;
			height: 20px;
		}
		
		.div-row .value-wide input[type="text"] {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			border: 1px solid #cdcdcd;
			height: 20px;
			width: 400px;
		}
		
#chat_box {
	margin: 50px auto 0px auto;
	padding: 10px 10px 10px 10px;
	width: 960px;
	background: #fff;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;
	display: none;
}

	#chat_box .container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		width: 960px;
	}
	
	#chat_box .container .message_box {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		width: 800px;
		position: relative;
		float: left;
	}
	
	#chat_box .container .message_box .content {
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
		width: 100%;
		border: 1px solid #cdcdcd;
		height: 400px;
		overflow: scroll;
	}
	
		#chat_box .container .message_box .content p {
			margin: 0px 0px 0px 0px;
			padding: 5px 5px 5px 5px;
			width: 98%;
			position: relative;
			float: left;
		}
		
		#chat_box .container .message_box .content p:nth-child(even) {
			background: #eeeeee;
		}
	
	#chat_box .container .message_box .message {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	
	#chat_box .container .contacts {
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
		width: 140px;
		position: relative;
		float: left;
	}
	
		#chat_box .container .contacts h2 {
			margin: 0px 0px 10px 0px;
			padding: 0px 0px 0px 0px;
			font-size: 1.2em;
		}
		
		#chat_box .container ul.contact_list {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			list-style: none;
		}
		
			#chat_box .container ul.contact_list li {
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				list-style: none;
			}